.containerItensPedido{
    display: flex;
    gap: 45px;
    margin-top: 10px;
    margin-left: 10px;
}

.containerItensPedido input{
    text-align: center;
}
.bodyItens{
    display: flex;
    
}

.imgDiv{
    display: flex;
    align-items: end;
    margin-left: 10px;
    cursor: pointer;
}

#imgCab{
    width: 24px;
    height: 24px;
}